---
users_jdmulloy_password_hash: $6$GqHPQwhW3cPrLBf4$lwboAooA/LRYGUP8fiXJLfEDkhE2tgIhEV9d8Yg2s9NcOUaM3tems2xsXeEA3Ur9r2BOkdDCNzm7xLUbhX/S//

users_jdmulloy_ssh_keys: &users_jdmulloy_ssh_keys
  - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILc8P+dTkXRMI9GY+irAgkmk6urzw2i515JWGqiGZT1f"
  - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAZH5iQWEaei013a1SYoLDtv7c+7nXgXylcQNzXPdr8A"

users_jdmulloy2_ssh_keys: *users_jdmulloy_ssh_keys
users_ansible_ssh_keys: *users_jdmulloy_ssh_keys
